body { 
    font-family: "Comic Sans MS";
    /*background-image: url("file:///C:/Users/terry/OneDrive/Pictures/ryan.png")*/
    background-image: url("https://cdn.discordapp.com/attachments/478695005666410516/626989422503526400/c9afbeeee094996dcd1217f1438ae9479d89787241739b71dbe91c287e342a56.jpg")
}

p {
    /*border: 1px solid green;*/
    margin: 150px;
    background-color: skyblue;
    padding: 30px
}

h1 {
    padding: 50px;
    margin: 100px;
    background-color: whitesmoke    ;
}

img {
    width:100% ;
    height: 100%

}
