.section {
    flex-wrap: wrap;
    display: flex;
    white-space: nowrap; 
}

.division {
    margin-top:10%
}

.logo {
    margin-top: 20px;
    margin-right:5%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}


/*
About Me
*/

#about-me {
    padding-top: 5%;
    color: white;
}

.test {
    height: 50%;
    width: 33%;
    background: blue;
    border: 1px solid white ;
}

.test h2 {
    padding: 20px;
}


/*
Profile Secondary
*/

.subtitle {
    color: orange
}

.subtitle h2 {
    margin: 0px;
}

/*Animations */
.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInLeft {
    from {
        transform: translate3d(150px,0,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
/*--------------------*/

/*
Profile Main
*/
#home-profile { /*change this into ID*/
    color: white;
    opacity: 0;
}

#home-profile h1 {
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Animations */
.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInRight {
    from {
        transform: translate3d(-150px,0,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
/*--------------------*/

















/*
Contact Icons, used in old index.html
*/

.contact-icons {
    margin-top: 10px;
    padding-inline-start: 0px;
    padding-right: 23px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
  
.contact-icon {
    margin-left: 20px;
    color: white;
}

.icon {
    height: 50px;
    width: 50px;
    color: white;
    transition: color 0.2s ease-in-out 0s;
}

.icon:hover {
    color: darkorange;
}
