/*
Profile Main
*/
#profile-pic {
    margin-top: 25px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

#home-profile {
    margin-top: 15%;
    opacity: 0;
}


#name-main {
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#titleContainer { 
    margin-right: auto;
    margin-left: 5%;
}

/*
Profile Secondary
*/

.subtitle {
    color: darkorange
}


/*
Contact
*/

.contact-icon {
    justify-content: center;
    font-size: 4rem; /*size of icon*/
    color: white;
    transition: color 0.2s ease-in-out 0s;
}

.contact-icon i {
    margin-top: 5%;
}

.contact-icon:hover {
    color: darkorange;
}

/*
Experience
*/

.exp-list {
    margin-left: 15px;
    margin-top: 1%;
}

.exp-list li {
    margin-top: 5px;
}

#experienceContent {
    margin-left: 1%;
}