#mazeContainer {
    display: inline-block;
    position: relative;
    background: black;
    z-index: -10;
}

#maze div {
    display: flex;
}

.border {
    background: black;
    height : 20px;
    width : 20px;
    z-index : -2;
    border: 1px solid black;
}

.win {
    background: green;
    height : 20px;
    width : 20px;
    z-index: -1;
    border: 1px solid grey;
}

.wall {

    height : 20px;
    width : 20px;
    z-index: -1;
    border: 1px solid grey;



}

.revealedWall {
    opacity: 90%;
    background: darkorange;
    border: 1px solid darkorange;
}

.path {

    height : 20px;
    width : 20px;
    z-index : -2;
    border: 1px solid grey;

}





.start {
    background: purple;
    height: 20px;
    width : 20px;
    z-index: -2;
    border: 1px solid grey;
}

.player {

    background: blue;
    height: 20px;
    width : 20px;
    z-index : 3;
    border: 1px solid grey;

}



#mazeBlock {
    text-align: center;
    margin-bottom: -4px;
}

.contentBlock {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.content {
    padding: 20px;
    background-color: black;
}



#mazeInstructions {
    padding: 35px;
    padding-left: 50px;
    color: white;
    background-color: black;
    flex: 1;
    border-radius: 0px 100px 100px 0px;
}


#banner p {
    margin-bottom : 0px;
}

.gameButton {
    border-radius: 25px;
    background: grey;
    color: white;
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-weight:bold;
    outline: none;
    border:1px solid black;

    transition: background 0.2s ease-in-out 0s;
    margin-bottom: 20px;
}

.gameButton:hover {
    background: darkorange;
}

.pressed { background: darkorange}