#mazeStartButton {
    position: absolute;
    z-index: 9;
    height: 100%;
    width: 100%;
    color: white;
    background: rgb(255,140,0, 0.1);
    text-align: center;
    transition: background 0.2s ease-in-out 0s;
    margin-bottom: 0px;
}

#mazeStartButton:hover {
    background: rgb(255,140,0, 0.2);
}

#mazeStartButton .center {
    padding-top: 22%;
}

#mazeContainer {
    z-index: 1;
    display: inline-block;
    position: relative;
    background: black;
  
}

#mazeBlock {
    position: relative;
    background-color: black;
}

#maze div {
    display: flex;
}

.border {
    background: black;
    height : 20px;
    width : 20px;

    border: 1px solid black;
}

.win {
    background-color: green;
    height : 20px;
    width : 20px;

    border: 1px solid green;
}

.wall {

    height : 20px;
    width : 20px;

    border: 1px solid rgb(10,10,10);
    transition: background 0.3s;

}

.revealedWall {
    opacity: 90%;
    background: darkorange;
    border: 1px solid darkorange;
}

.path {
    height : 20px;
    width : 20px;

    border: 1px solid rgb(10,10,10);

}





.start {
    background-color: purple;
    height: 20px;
    width : 20px;

    border: 1px solid purple;
}

.player {

    background: blue;
    height: 20px;
    width : 20px;

    border: 1px solid blue;
    
}




.contentBlock {
    display: flex;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#mazeInstructions {
    padding: 35px;
    padding-left: 50px;
    color: white;
    background-color: black;
    flex: 1;
    border-radius: 0px 100px 100px 0px;
}


#banner p {
    margin-bottom : 0px;
}

.gameButton {
    border-radius: 25px;
    background: grey;
    color: white;
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-weight:bold;
    outline: none;
    border:1px solid black;

    transition: background 0.2s ease-in-out 0s;
    margin-bottom: 20px;
}

.gameButton:hover {
    background: darkorange;
}

.pressed { background: darkorange}