#mazeStartButton {
    position: absolute;
    z-index: 9;
    height: 100%;
    width: 100%;
    color: white;
    background: rgb(255,140,0, 0.1);
    text-align: center;
    transition: background 0.2s ease-in-out 0s;
    margin-bottom: 0px;
}

#mazeStartButton:hover {
    background: rgb(255,140,0, 0.2);
}

#mazeStartButton .center {
    padding-top: 22%;
}

#mazeContainer {
    z-index: 1;
    display: inline-block;
    position: relative;
    background: black;
  
}

#mazeBlock {
    position: relative;
}

#maze div {
    display: flex;
}

.border {
    background: black;
    height : 18px;
    width : 18px;

    border: 1px solid black;
}

.win {
    background-color: green;
    height : 18px;
    width : 18px;

    border: 1px solid green;
}

.wall {

    height : 18px;
    width : 18px;

    border: 1px solid rgb(20,20,20);
    transition: background 0.3s;
    

}

.revealedWall {
    opacity: 90%;
    background: darkorange;
    border: 1px solid darkorange;
}

.path {
    height : 18px;
    width : 18px;

    border: 1px solid rgb(20,20,20);

}





.start {
    background-color: purple;
    height: 18px;
    width : 18px;

    border: 1px solid purple;
}

.player {
    background: blue;
    height: 18px;
    width : 18px;

    border: 1px solid blue;
}




.contentBlock {
    display: flex;
    margin: 2% 0%;
}

#mazeInstructions {
    padding: 35px;
    padding-left: 50px;
    color: white;
    background-color: black;
    border-radius: 0px 100px 100px 0px;
}




.buttonContainer {
    display: flex;
    flex-wrap: wrap;
}

.gameButton {
    width: 100px;
    border-radius: 25px;
    background: grey;
    color: white;
    padding: 20px;
 
    text-decoration: none;
    font-weight:bold;
    outline: none;
    border:1px solid black;
    transition: background 0.2s ease-in-out 0s;
    
    
    margin: 10px;
    justify-content: space-evenly;
}

.gameButton:hover {
    background: darkorange;
}