.instructions {
    margin-left: 3%;
    color: white;

    flex: 1;
    border-radius: 0px 100px 100px 0px;
    
}

.game-title {
    color: darkorange;
    margin-top: 0px;
}

#malFiguresLink :hover {
    opacity: 0.5;
    transition: 0.7s;
}

#malFiguresImg {
    width: 500px;
}