body { 
    font-family: "Rubik";
    margin: 50px;
    /*background-image: url("file:///C:/Users/terry/OneDrive/Pictures/ryan.png")*/
}

#ryanBackground {
    background-image: url("../images/ryan.png")
}

#onionBackground {
    background-image: url("../images/greenonion.png")
}

#banner {
    color: white;
    text-align: center;
    padding: 50px;

    background-color: black;

}

.barLink {
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-weight:bold;
}

.currentLink {
    background-color: orange;
}

#lastLink {
    margin-right: 0px;
}

#linkBar {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

#introPic {
    color: white;
    margin-left : 100px;
    margin-right : 100px;
    margin-top : -50px;
    display: flex;
}

#leftBlock {
    width: 100px;
    margin-right: 50px;
    
}

#rightBlock {
    flex: 1;
    
}

.content {
    padding: 20px;
    background-color: black;
}



.ryanParagraph {
    margin: 150px;
    color: white;
    padding: 30px;
    background-image: url("../images/nayr.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



#specialryan {
    padding: 50px;
    margin: 100px;
    background-image: url("../images/pink ryan.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#ryanContent {
    font-family: "Monospace";
    border-style: solid;
    border-color: white;
    background-color: black;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}


img {
    width:100% ;
    height: 100%
}

/*
These are for javascript test
 */

#content {
    color: white;
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

#result {
    color: black;
    background-color: white;
    padding:20px;
}

.test {
    margin-right : 20px;
}

#paragraph {
    background-color: aqua;
}


#mazeContainer {
    display: inline-block;
    position: relative;
}

#maze { <!--   -->
    background-color: green;
}

#maze div {
    display: flex;
}

.win {
    background: green;
    height : 20px;
    width : 20px;
    z-index: -1;
}

.wall {
    background: red;
    height : 20px;
    width : 20px;
    z-index: -1;
}

.path {
    background: orange;
    height : 20px;
    width : 20px;
    z-index : -2;
}

.border {
    background: black;
    height : 20px;
    width : 20px;
    z-index : -2;
}



.start {
    background: purple;
    height: 20px;
    width : 20px;
    z-index: -2;
}

.player {

    background: blue;
    height: 20px;
    width : 20px;
    z-index : 3;

}

#title {
    margin-top : 0px;
}

#mazeBlock {
    text-align: center;
    margin-bottom: -4px;
    /*
    This is needed for proper alignment
     */
}

#contentBlock {
    display: flex;
}

#mazeInstructions {
    color: white;
    background-color: black;
    padding-left : 50px;
    padding-right: 50px;
    flex: 1;

}

#mazeInstructions h2 {
    padding: 0px;
    margin: 0px;
}

#banner p {
    margin-bottom : 0px;
}


/*
Color 1
    maze border

Color 2
    buttons
    maze background

Color 3
    font

Color 4
    background

 */