html {
    /*Here for the background-image covers entire page instead of just elements within body*/
    height: 100%;
}

body { 
    max-width: 65rem;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    


    font-family: "Montserrat";
    /*Scrollbar always visible to prevent sudden element shift*/
    overflow-y: scroll;
    /*background-image: url("../images/view-cropped-large.jpg");*/
    /*background: linear-gradient(rgb(50,50,50) , rgb(90,90,90));*/
    background: rgb(15,15,17);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* what is the third parameter?
    animation: fadeIn 0.5s ease;
    */
}


/*
Scrollbar
*/

/* Initialized scrollbar to be modified */
body::-webkit-scrollbar {
    width: 8px;
    overflow-y: overlay;
}

/* Track */
body::-webkit-scrollbar-track {
    background: rgb(50,50,50)
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
    background: orange; 
}

/*
Banner
*/

#banner { /*TODO remove after fixing margins */
    margin: 0% 0%;
}

#banner a {
    color: white;
    text-decoration: none;
}

.banner-logo {
    margin-right: auto;
}
.banner-logo img {
    margin-top: 6px;
    width: 40px;
    height: 40px;
}

hr.name-underline {
    margin-top: 12px;
    height: .25rem;
    width: 100%;
    background: orange;
    border: none;
}

.banner-container {
    width: 30%;
}

nav {
    display: flex;
}

/*Navigation*/
.one:hover ~ hr {
    margin-left: 0%;
}
  
.two:hover ~ hr {
    margin-left: 50%;
}

hr.second { /*Starting margin*/
    margin-left: 50%;
}

ul.banner-links {
    padding-inline-start: 0px;
    margin-top: 0px;
}

ul.banner-links li {
    display: inline;
    text-align: center;
}

ul.banner-links li a {
    display: inline-block;
    width: 50%;
    padding: .75rem 0;
    margin: 0;
}

hr {
    height: .25rem;
    width: 50%;
    margin: 0%;
    background: orange;
    border: none;
    transition: .3s ease-in-out;
}









/*
HTML TAGS

nav - defines a block of navigation links

css:
hover
    color:teal

transition used one parent of css selector with hover

circular picture for home page

on css selector
cursor:pointer
 */

/*
Maze Features
- portals
- multuple levels
- change player color
- one way walls
- reveal walls with input
- shift 90 degrees every 10 seconds
- sound effects for walking or running into wall
*/

/*  Redesign and Refactoring

    - clean up and organize css pages
    - write functions that convert an array of 0 and 1 that alters the
      divs in the mazegame div
        - use this to easily change characters
    - choose your character color options
        - use rgb?
        - use hex?
        - colors of walls and everything else?

 */


