body { 
    font-family: "Rubik";
    margin: 50px;

    background-image: url("../images/view-cropped.jpg");


    background-size: cover;
    background-repeat: no-repeat;

    opacity: 1;
    animation: fadeIn 0.5s ease;


}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#banner {
    color: white;
    text-align: left;
    padding: 50px;
    padding-bottom: 20px;

}



/* 
For profile logo 
*/
.profile {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}
  
.profile img {
    margin-right: 10px;
    border-radius: 50%;
}

/*
For navigation bar
*/


nav h1 { /* Title */
    font-size: 3em;
    display: flex;
    margin-top: 0px;
    margin-right: auto;
}

nav {
    display: flex;

}

.nav-links { 
    padding-left: 0px;
    margin-top: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.nav-links a {
    transition: background 0.2s ease-in-out 0s;

    border-radius: 25px;
    color: white;
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-weight:bold;
}
.nav-links a:hover {
    background: darkorange;
}

.currentLink {
    background: darkorange;
}

#lastLink {
    margin-right: 0px;
}

/*
Contact links
*/

.contact-icons {
    padding-left: 6px;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 0px;
}

.icon {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    color: white;

    transition: color 0.2s ease-in-out 0s;

}

  
.icon:hover {
    color: darkorange;
}





/*
HTML TAGS

nav - defines a block of navigation links

css:
hover
    color:teal

transition used one parent of css selector with hover

circular picture for home page

on css selector
cursor:pointer
 */

/*
Maze Features
- portals
- multuple levels
- change player color
- one way walls
- reveal walls with input
- shift 90 degrees every 10 seconds
- sound effects for walking or running into wall
*/

/*  Redesign and Refactoring

    - clean up and organize css pages
    - write functions that convert an array of 0 and 1 that alters the
      divs in the mazegame div
        - use this to easily change characters
    - choose your character color options
        - use rgb?
        - use hex?
        - colors of walls and everything else?

 */


